*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
}
 li{
  font-size: 20px;
  color: gray;

}


.main-header {
  background-image: url(tło.jpg);
  background-size: cover;
  padding-bottom: 40px;
}

h1 {
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.main-table {
  margin-left: 42%;
}

.main-button {
  margin-left: 48%;
}

.main-pic {
  margin-left: 27%;
  /* okej to zdjecie niestety nie jest wysrodkowane, ale tego nie było na kursie.  */
  height: 500px;
  border-radius: 10%;
}

.main-footer {
  background-color: cornsilk;
  color: black;
  padding: 5em 0;
  text-align: center;
  margin-top: 2px;
  font-size: 20px;

}

